<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose|   %>
<%= dose.ingredient.name %>
<%= dose.description %>
<% end   %>


  <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>

